openapi: 3.0.1
info:
  title: App Store Connect API
  version: "1.2"
  x-platform: app_store_connect_api
externalDocs:
  description: App Store Connect API Documentation
  url: https://developer.apple.com/documentation/appstoreconnectapi
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
paths:
  /v1/ageRatingDeclarations/{id}:
    patch:
      operationId: ageRatingDeclarations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        description: AgeRatingDeclaration representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Single AgeRatingDeclaration
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AgeRatingDeclarations
  /v1/appCategories:
    get:
      operationId: appCategories-get_collection
      parameters:
      - description: filter by attribute 'platforms'
        explode: false
        in: query
        name: filter[platforms]
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by existence or non-existence of related 'parent'
        explode: false
        in: query
        name: exists[parent]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: fields[appCategories]
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: limit[subcategories]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of AppCategories
      tags:
      - AppCategories
  /v1/appCategories/{id}:
    get:
      operationId: appCategories-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: fields[appCategories]
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: limit[subcategories]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Single AppCategory
      tags:
      - AppCategories
  /v1/appEncryptionDeclarations:
    get:
      operationId: appEncryptionDeclarations-get_collection
      parameters:
      - description: filter by attribute 'platform'
        explode: false
        in: query
        name: filter[platform]
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'app'
        explode: false
        in: query
        name: filter[app]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'builds'
        explode: false
        in: query
        name: filter[builds]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: fields[appEncryptionDeclarations]
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: fields[apps]
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationsResponse'
          description: List of AppEncryptionDeclarations
      tags:
      - AppEncryptionDeclarations
  /v1/appEncryptionDeclarations/{id}:
    get:
      operationId: appEncryptionDeclarations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: fields[appEncryptionDeclarations]
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: fields[apps]
        required: false
        schema:
          items:
            enum:
            - appInfos
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - contentRightsDeclaration
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - prices
            - primaryLocale
            - sku
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationResponse'
          description: Single AppEncryptionDeclaration
      tags:
      - AppEncryptionDeclarations
  /v1/appInfoLocalizations:
    post:
      operationId: appInfoLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationCreateRequest'
        description: AppInfoLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
  /v1/appInfoLocalizations/{id}:
    delete:
      operationId: appInfoLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppInfoLocalizations
    get:
      operationId: appInfoLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: fields[appInfoLocalizations]
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appInfo
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
      tags:
      - AppInfoLocalizations
    patch:
      operationId: appInfoLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoLocalizationUpdateRequest'
        description: AppInfoLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoLocalizationResponse'
          description: Single AppInfoLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfoLocalizations
  /v1/appInfos/{id}:
    get:
      operationId: appInfos-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appInfos
        explode: false
        in: query
        name: fields[appInfos]
        required: false
        schema:
          items:
            enum:
            - app
            - appInfoLocalizations
            - appStoreAgeRating
            - appStoreState
            - brazilAgeRating
            - kidsAgeBand
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - appInfoLocalizations
            - primaryCategory
            - primarySubcategoryOne
            - primarySubcategoryTwo
            - secondaryCategory
            - secondarySubcategoryOne
            - secondarySubcategoryTwo
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: fields[appCategories]
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appInfoLocalizations
        explode: false
        in: query
        name: fields[appInfoLocalizations]
        required: false
        schema:
          items:
            enum:
            - appInfo
            - locale
            - name
            - privacyPolicyText
            - privacyPolicyUrl
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum number of related appInfoLocalizations returned (when
          they are included)
        explode: true
        in: query
        name: limit[appInfoLocalizations]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
      tags:
      - AppInfos
    patch:
      operationId: appInfos-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppInfoUpdateRequest'
        description: AppInfo representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppInfoResponse'
          description: Single AppInfo
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppInfos
  /v1/appPreOrders:
    post:
      operationId: appPreOrders-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderCreateRequest'
        description: AppPreOrder representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
  /v1/appPreOrders/{id}:
    delete:
      operationId: appPreOrders-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppPreOrders
    get:
      operationId: appPreOrders-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreOrders
        explode: false
        in: query
        name: fields[appPreOrders]
        required: false
        schema:
          items:
            enum:
            - app
            - appReleaseDate
            - preOrderAvailableDate
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
      tags:
      - AppPreOrders
    patch:
      operationId: appPreOrders-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreOrderUpdateRequest'
        description: AppPreOrder representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreOrderResponse'
          description: Single AppPreOrder
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreOrders
  /v1/appPreviewSets:
    post:
      operationId: appPreviewSets-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewSetCreateRequest'
        description: AppPreviewSet representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviewSets
  /v1/appPreviewSets/{id}:
    delete:
      operationId: appPreviewSets-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppPreviewSets
    get:
      operationId: appPreviewSets-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: fields[appPreviewSets]
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: fields[appPreviews]
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: maximum number of related appPreviews returned (when they are
          included)
        explode: true
        in: query
        name: limit[appPreviews]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewSetResponse'
          description: Single AppPreviewSet
      tags:
      - AppPreviewSets
  /v1/appPreviews:
    post:
      operationId: appPreviews-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewCreateRequest'
        description: AppPreview representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
  /v1/appPreviews/{id}:
    delete:
      operationId: appPreviews-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppPreviews
    get:
      operationId: appPreviews-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPreviews
        explode: false
        in: query
        name: fields[appPreviews]
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            - assetDeliveryState
            - fileName
            - fileSize
            - mimeType
            - previewFrameTimeCode
            - previewImage
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSet
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
      tags:
      - AppPreviews
    patch:
      operationId: appPreviews-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPreviewUpdateRequest'
        description: AppPreview representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPreviewResponse'
          description: Single AppPreview
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppPreviews
  /v1/appPricePoints:
    get:
      operationId: appPricePoints-get_collection
      parameters:
      - description: filter by id(s) of related 'priceTier'
        explode: false
        in: query
        name: filter[priceTier]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'territory'
        explode: false
        in: query
        name: filter[territory]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: fields[appPricePoints]
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: fields[territories]
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointsResponse'
          description: List of AppPricePoints
      tags:
      - AppPricePoints
  /v1/appPricePoints/{id}:
    get:
      operationId: appPricePoints-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: fields[appPricePoints]
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - priceTier
            - territory
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: fields[territories]
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPricePointResponse'
          description: Single AppPricePoint
      tags:
      - AppPricePoints
  /v1/appPriceTiers:
    get:
      operationId: appPriceTiers-get_collection
      parameters:
      - description: filter by id(s)
        explode: false
        in: query
        name: filter[id]
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: fields[appPriceTiers]
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: fields[appPricePoints]
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: limit[pricePoints]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTiersResponse'
          description: List of AppPriceTiers
      tags:
      - AppPriceTiers
  /v1/appPriceTiers/{id}:
    get:
      operationId: appPriceTiers-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPriceTiers
        explode: false
        in: query
        name: fields[appPriceTiers]
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - pricePoints
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPricePoints
        explode: false
        in: query
        name: fields[appPricePoints]
        required: false
        schema:
          items:
            enum:
            - customerPrice
            - priceTier
            - proceeds
            - territory
            type: string
          type: array
        style: form
      - description: maximum number of related pricePoints returned (when they are
          included)
        explode: true
        in: query
        name: limit[pricePoints]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceTierResponse'
          description: Single AppPriceTier
      tags:
      - AppPriceTiers
  /v1/appPrices/{id}:
    get:
      operationId: appPrices-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appPrices
        explode: false
        in: query
        name: fields[appPrices]
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - priceTier
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPriceResponse'
          description: Single AppPrice
      tags:
      - AppPrices
  /v1/appScreenshotSets:
    post:
      operationId: appScreenshotSets-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotSetCreateRequest'
        description: AppScreenshotSet representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshotSets
  /v1/appScreenshotSets/{id}:
    delete:
      operationId: appScreenshotSets-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppScreenshotSets
    get:
      operationId: appScreenshotSets-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: fields[appScreenshotSets]
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: fields[appScreenshots]
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum number of related appScreenshots returned (when they
          are included)
        explode: true
        in: query
        name: limit[appScreenshots]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotSetResponse'
          description: Single AppScreenshotSet
      tags:
      - AppScreenshotSets
  /v1/appScreenshots:
    post:
      operationId: appScreenshots-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotCreateRequest'
        description: AppScreenshot representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshots
  /v1/appScreenshots/{id}:
    delete:
      operationId: appScreenshots-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppScreenshots
    get:
      operationId: appScreenshots-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appScreenshots
        explode: false
        in: query
        name: fields[appScreenshots]
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            - assetDeliveryState
            - assetToken
            - assetType
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appScreenshotSet
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
      tags:
      - AppScreenshots
    patch:
      operationId: appScreenshots-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppScreenshotUpdateRequest'
        description: AppScreenshot representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppScreenshotResponse'
          description: Single AppScreenshot
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppScreenshots
  /v1/appStoreReviewAttachments:
    post:
      operationId: appStoreReviewAttachments-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreReviewAttachmentCreateRequest'
        description: AppStoreReviewAttachment representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewAttachmentResponse'
          description: Single AppStoreReviewAttachment
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreReviewAttachments
  /v1/appStoreReviewAttachments/{id}:
    delete:
      operationId: appStoreReviewAttachments-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppStoreReviewAttachments
    get:
      operationId: appStoreReviewAttachments-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appStoreReviewAttachments
        explode: false
        in: query
        name: fields[appStoreReviewAttachments]
        required: false
        schema:
          items:
            enum:
            - appStoreReviewDetail
            - assetDeliveryState
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appStoreReviewDetail
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewAttachmentResponse'
          description: Single AppStoreReviewAttachment
      tags:
      - AppStoreReviewAttachments
    patch:
      operationId: appStoreReviewAttachments-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreReviewAttachmentUpdateRequest'
        description: AppStoreReviewAttachment representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewAttachmentResponse'
          description: Single AppStoreReviewAttachment
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreReviewAttachments
  /v1/appStoreReviewDetails:
    post:
      operationId: appStoreReviewDetails-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreReviewDetailCreateRequest'
        description: AppStoreReviewDetail representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewDetailResponse'
          description: Single AppStoreReviewDetail
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreReviewDetails
  /v1/appStoreReviewDetails/{id}:
    get:
      operationId: appStoreReviewDetails-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appStoreReviewDetails
        explode: false
        in: query
        name: fields[appStoreReviewDetails]
        required: false
        schema:
          items:
            enum:
            - appStoreReviewAttachments
            - appStoreVersion
            - contactEmail
            - contactFirstName
            - contactLastName
            - contactPhone
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appStoreReviewAttachments
            - appStoreVersion
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreReviewAttachments
        explode: false
        in: query
        name: fields[appStoreReviewAttachments]
        required: false
        schema:
          items:
            enum:
            - appStoreReviewDetail
            - assetDeliveryState
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: maximum number of related appStoreReviewAttachments returned
          (when they are included)
        explode: true
        in: query
        name: limit[appStoreReviewAttachments]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewDetailResponse'
          description: Single AppStoreReviewDetail
      tags:
      - AppStoreReviewDetails
    patch:
      operationId: appStoreReviewDetails-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreReviewDetailUpdateRequest'
        description: AppStoreReviewDetail representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreReviewDetailResponse'
          description: Single AppStoreReviewDetail
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreReviewDetails
  /v1/appStoreVersionLocalizations:
    post:
      operationId: appStoreVersionLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionLocalizationCreateRequest'
        description: AppStoreVersionLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionLocalizationResponse'
          description: Single AppStoreVersionLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersionLocalizations
  /v1/appStoreVersionLocalizations/{id}:
    delete:
      operationId: appStoreVersionLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppStoreVersionLocalizations
    get:
      operationId: appStoreVersionLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appStoreVersionLocalizations
        explode: false
        in: query
        name: fields[appStoreVersionLocalizations]
        required: false
        schema:
          items:
            enum:
            - appPreviewSets
            - appScreenshotSets
            - appStoreVersion
            - description
            - keywords
            - locale
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appPreviewSets
            - appScreenshotSets
            - appStoreVersion
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: fields[appScreenshotSets]
        required: false
        schema:
          items:
            enum:
            - appScreenshots
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: fields[appPreviewSets]
        required: false
        schema:
          items:
            enum:
            - appPreviews
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: maximum number of related appPreviewSets returned (when they
          are included)
        explode: true
        in: query
        name: limit[appPreviewSets]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      - description: maximum number of related appScreenshotSets returned (when they
          are included)
        explode: true
        in: query
        name: limit[appScreenshotSets]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionLocalizationResponse'
          description: Single AppStoreVersionLocalization
      tags:
      - AppStoreVersionLocalizations
    patch:
      operationId: appStoreVersionLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionLocalizationUpdateRequest'
        description: AppStoreVersionLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionLocalizationResponse'
          description: Single AppStoreVersionLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersionLocalizations
  /v1/appStoreVersionPhasedReleases:
    post:
      operationId: appStoreVersionPhasedReleases-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionPhasedReleaseCreateRequest'
        description: AppStoreVersionPhasedRelease representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionPhasedReleaseResponse'
          description: Single AppStoreVersionPhasedRelease
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersionPhasedReleases
  /v1/appStoreVersionPhasedReleases/{id}:
    delete:
      operationId: appStoreVersionPhasedReleases-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppStoreVersionPhasedReleases
    patch:
      operationId: appStoreVersionPhasedReleases-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionPhasedReleaseUpdateRequest'
        description: AppStoreVersionPhasedRelease representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionPhasedReleaseResponse'
          description: Single AppStoreVersionPhasedRelease
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersionPhasedReleases
  /v1/appStoreVersionSubmissions:
    post:
      operationId: appStoreVersionSubmissions-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionSubmissionCreateRequest'
        description: AppStoreVersionSubmission representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionSubmissionResponse'
          description: Single AppStoreVersionSubmission
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersionSubmissions
  /v1/appStoreVersionSubmissions/{id}:
    delete:
      operationId: appStoreVersionSubmissions-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppStoreVersionSubmissions
  /v1/appStoreVersions:
    post:
      operationId: appStoreVersions-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionCreateRequest'
        description: AppStoreVersion representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
          description: Single AppStoreVersion
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersions
  /v1/appStoreVersions/{id}:
    delete:
      operationId: appStoreVersions-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppStoreVersions
    get:
      operationId: appStoreVersions-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appStoreVersions
        explode: false
        in: query
        name: fields[appStoreVersions]
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appStoreReviewDetail
            - appStoreState
            - appStoreVersionLocalizations
            - appStoreVersionPhasedRelease
            - appStoreVersionSubmission
            - build
            - copyright
            - createdDate
            - downloadable
            - earliestReleaseDate
            - idfaDeclaration
            - platform
            - releaseType
            - routingAppCoverage
            - usesIdfa
            - versionString
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appStoreReviewDetail
            - appStoreVersionLocalizations
            - appStoreVersionPhasedRelease
            - appStoreVersionSubmission
            - build
            - idfaDeclaration
            - routingAppCoverage
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreVersionLocalizations
        explode: false
        in: query
        name: fields[appStoreVersionLocalizations]
        required: false
        schema:
          items:
            enum:
            - appPreviewSets
            - appScreenshotSets
            - appStoreVersion
            - description
            - keywords
            - locale
            - marketingUrl
            - promotionalText
            - supportUrl
            - whatsNew
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type idfaDeclarations
        explode: false
        in: query
        name: fields[idfaDeclarations]
        required: false
        schema:
          items:
            enum:
            - appStoreVersion
            - attributesActionWithPreviousAd
            - attributesAppInstallationToPreviousAd
            - honorsLimitedAdTracking
            - servesAds
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type routingAppCoverages
        explode: false
        in: query
        name: fields[routingAppCoverages]
        required: false
        schema:
          items:
            enum:
            - appStoreVersion
            - assetDeliveryState
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreVersionPhasedReleases
        explode: false
        in: query
        name: fields[appStoreVersionPhasedReleases]
        required: false
        schema:
          items:
            enum:
            - appStoreVersion
            - currentDayNumber
            - phasedReleaseState
            - startDate
            - totalPauseDuration
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type ageRatingDeclarations
        explode: false
        in: query
        name: fields[ageRatingDeclarations]
        required: false
        schema:
          items:
            enum:
            - alcoholTobaccoOrDrugUseOrReferences
            - gamblingAndContests
            - gamblingSimulated
            - horrorOrFearThemes
            - kidsAgeBand
            - matureOrSuggestiveThemes
            - medicalOrTreatmentInformation
            - profanityOrCrudeHumor
            - sexualContentGraphicAndNudity
            - sexualContentOrNudity
            - unrestrictedWebAccess
            - violenceCartoonOrFantasy
            - violenceRealistic
            - violenceRealisticProlongedGraphicOrSadistic
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreReviewDetails
        explode: false
        in: query
        name: fields[appStoreReviewDetails]
        required: false
        schema:
          items:
            enum:
            - appStoreReviewAttachments
            - appStoreVersion
            - contactEmail
            - contactFirstName
            - contactLastName
            - contactPhone
            - demoAccountName
            - demoAccountPassword
            - demoAccountRequired
            - notes
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type builds
        explode: false
        in: query
        name: fields[builds]
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclaration
            - appStoreVersion
            - betaAppReviewSubmission
            - betaBuildLocalizations
            - betaGroups
            - buildBetaDetail
            - diagnosticSignatures
            - expirationDate
            - expired
            - iconAssetToken
            - icons
            - individualTesters
            - minOsVersion
            - perfPowerMetrics
            - preReleaseVersion
            - processingState
            - uploadedDate
            - usesNonExemptEncryption
            - version
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreVersionSubmissions
        explode: false
        in: query
        name: fields[appStoreVersionSubmissions]
        required: false
        schema:
          items:
            enum:
            - appStoreVersion
            type: string
          type: array
        style: form
      - description: maximum number of related appStoreVersionLocalizations returned
          (when they are included)
        explode: true
        in: query
        name: limit[appStoreVersionLocalizations]
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
          description: Single AppStoreVersion
      tags:
      - AppStoreVersions
    patch:
      operationId: appStoreVersions-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStoreVersionUpdateRequest'
        description: AppStoreVersion representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStoreVersionResponse'
          description: Single AppStoreVersion
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppStoreVersions
  /v1/apps:
    get:
      operationId: apps-get_collection
      parameters:
      - description: filter by attribute 'appStoreVersions.appStoreState'
        explode: false
        in: query
        name: filter[appStoreVersions.appStoreState]
        required: false
        schema:
          items:
            enum:
            - DEVELOPER_REMOVED_FROM_SALE
            - DEVELOPER_REJECTED
            - IN_REVIEW
            - INVALID_BINARY
            - METADATA_REJECTED
            - PENDING_APPLE_RELEASE
            - PENDING_CONTRACT
            - PENDING_DEVELOPER_RELEASE
            - PREPARE_FOR_SUBMISSION
[...]
